<table class="showitemimage" align="center">
	<th align="center"><h4 id='imagetitle'> title <h4></th>
	<tr align="center">
		<td> <%= image_tag("", id: :imagecontent) %></td>
	</tr>
	<tr align="center">
		<td>
		<p id='imagedescription'>
			Description
		</p></td>
	</tr>
</table>
