<table>

	<th><label>Shop</label></th>
	<th><label>Description</label></th>
	<% @shops.each do |shop| %>
	<tr>
		<td><label><%= link_to shop.name, shop_path(shop) %></label></td>
		<td><label><%= shop.description %></label></td>

	</tr>
	<% end %>
</table>