<div class="basecontent">
	<table class="showshop">
		<tr>
			<td rowspan="5" class="shopimage">
				Avatar
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<h2>Beer Hoi Cuong hoi</h2>
			</td>
		</tr>
		<tr>
			<td>Address</td>
			<td>Nguyen Dinh Chieu</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>Cuonghoi@yahoo.com</td>
		</tr>
		<tr>
			<td>Tel</td>
			<td>12345678</td>
		</tr>
	</table>
</div>
