<div class="basecontent">
	<div id="tabs">
		<ul>
			<li>
				<a href="#overview">Overview</a>
			</li>
			<li>
				<a href="#news">News</a>
			</li>
			<li>
				<a href="#dish">Dish</a>
			</li>
		</ul>
		<div class="clearhighlight"></div>
		<div id="overview">
			<%= render('shop_overview') %>
		</div>
		<div id="news">
			<p>
				<%= render('shop_news')%>
			</p>
		</div>

		<div id="dish">
			<p>
				tab3
			</p>
		</div>
	</div>

</div>
