<table>
	<th>Email</th>
	<th>Role</th>
	<% @user.each do |user| %>
	<tr>
		<td><label><%= link_to user.email, user_path(user) %></label></td>
		<td><label><%= user.role%></label></td>

	</tr>
	<% end %>
</table>
