<table>
	<% @user.each do |user| %>

	<th><label>Email</label></th>
	<th><label>Role</label></th>

	<tr>
		<td><label><%= link_to user.email, user_path(user) %></label></td>
		<td><label><%= user.role%></label></td>

	</tr>
	<% end %>
</table>
