<!-- BEGIN content -->
<div id="content">
	<!-- begin post -->
	<div class="single">
		<h2>Contact Us</h2>
		<p>
			Idnec nulla fuscinia ridictus nunc et morbi at morbi senean tincidunt. Antsempus morbi quis in sempus convallis dui vestie eu phasellentesquet nam. Pulvinareipsum sit nibh id nas eu magnisse alique id nam curabitur. Etenim consequam nec ant senean leo morbi urna velit rutrum consectum. Sedpretium nulla vel ero liberos facilis dis cursus adipiscing lacus intesque.
		</p>
	</div>
	<!-- end post -->
	<!-- begin comments -->
	<div id="comments">
		<div id="respond">
			<form action="http://all-free-download.com/free-website-templates/" method="post" id="commentform">
				<p>
					<input type="text" name="author" id="author" value="" size="22" tabindex="1" />
					<label for="author"><small>Name (required)</small></label>
				</p>
				<p>
					<input type="text" name="email" id="email" value="" size="22" tabindex="2" />
					<label for="email"><small>Mail (will not be published) (required)</small></label>
				</p>
				<p>
					<input type="text" name="url" id="url" value="" size="22" tabindex="3" />
					<label for="url"><small>Website</small></label>
				</p>
				<p>
					<textarea name="comment" id="comment" cols="100%" rows="10" tabindex="4"></textarea>
				</p>
				<p>
					<button name="submit" type="submit" id="submit">
						Submit Comment
					</button>
				</p>
			</form>
		</div>
	</div>
	<!-- end comments -->
</div>
<!-- END content -->
