<% @shopcategories.each do |shopcategory| %>
<% @shopcategory = shopcategory %>
<%= render('news/newshome')%>

<% end %>
<!-- begin post navigation -->
<div class="postnav">
	<ul>
		<li>
			<a href="http://all-free-download.com/free-website-templates/">1</a>
		</li>
		<li>
			<a href="http://all-free-download.com/free-website-templates/">2</a>
		</li>
		<li>
			<a href="http://all-free-download.com/free-website-templates/">&raquo;</a>
		</li>
	</ul>
	<div class="break"></div>
</div>
<!-- end post navigation -->

