<% if @shopcategory %>
<% @news = @shopcategory.news.first %>
<!-- begin category wrapper -->
<div class="categorywrapper">
	<h2 id="categoryname"><%= @shopcategory.name %></h2>
	<%= render('news/firstnews')%>

	<!-- begin highlight -->
	<div class="post">

		<% @shopcategory.news.limit(4).offset(1).each do |news| %>
		<% @news = news %>

		<%= render('shared/newsthumb') %>
		<div class="clearhighlight"></div>
		<% end %>

		<div class="clearhighlight"></div>
		<a class="continue" href="#">View alls</a>
	</div>
	<!-- end post -->
</div>
<!-- end category wrapper -->
<% end %>
