// CSS for study page
#ibox {width: 500px; height: 300px; background: #FF0000}

.selected{
  background: #dddddd;
}

.highlight{
  background-color: yellow;
}

#accordiondemo h3 {
  cursor: pointer;
  border: 1px solid #ccc;
  //background: #EFEFEF;
  padding: 4px 8px;
}
.neoslideshow {position:relative; width:500px; height:260px;}
.neoslideshow img {position:absolute;left:300; top:300;}

#draggable { 
  width: 150px; 
  height: 150px; 
  padding: 0.5em; 
  background-color: yellow;

}
#droppable { 
  width: 150px; 
  height: 150px; 
  padding: 0.5em; 
  //float: left; 
  margin: 10px; 
  background-color: red;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

  
//CSS for system

.basecontent{
  padding: 10px;
}

.categorywrapper{
  
}

#categoryname{
  //background-color: rgb(102, 102, 102);
  padding: 5px;
  border-bottom: 1px dotted #efefef;
}

.catehighlight a{
  color: rgb(86, 86, 86);
}

.clearhighlight{
  clear: both;
  padding: 5px;
  border-top: 1px dotted #efefef;
}
