// CSS for study page
#ibox {width: 500px; height: 300px; background: #FF0000}

.selected{
  background: #dddddd;
}

.highlight{
  background-color: yellow;
}

#accordiondemo h3 {
  cursor: pointer;
  border: 1px solid #ccc;
  //background: #EFEFEF;
  padding: 4px 8px;
}
.neoslideshow {position:relative; width:500px; height:260px;}
.neoslideshow img {position:absolute;left:300; top:300;}


//CSS for system

.basecontent{
  padding: 10px;
}

.categorywrapper{
  
}

#categoryname{
  //background-color: rgb(102, 102, 102);
  padding: 5px;
  border-bottom: 1px dotted #efefef;
}

.catehighlight a{
  color: rgb(86, 86, 86);
}
.smallthumb{
  width: 70px;
  height: 70px;
  float: left;
  padding: 10px;
  padding-top: 0px;
}

.clearhighlight{
  clear: both;
  padding: 5px;
  border-top: 1px dotted #efefef;
}
