// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newsform td{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.newsshow img {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 250px;
  height: 250px;
}

.newsshow .date {
      font-size: 0.9em;
      font-family: Georgia;
      color: #808080;
      margin-bottom: 5px;
      text-align: right;
      padding-top: 5px;
}

.newsshow .shop {
      font-size: 0.9em;
      font-family: Georgia;
      color: #808080;
      margin-bottom: 5px;
      text-align: right;
      padding-top: 5px;
}

.smallthumb{
  width: 50px;
  height: 50px;
  float: left;
  padding: 10px;
  padding-top: 0px;
}

.newsall h2 {
  padding-bottom: 10px;
}

#addnews {
  padding-right: 20px;
}

#newspanel {
  text-align: right;
  p { display: inline; padding-right: 5px; }
  padding-right: 20px;
}
