// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.showshop{
  background-color: #efefef;
  border: 1px solid #eeeeee;
}

.shopimage{
  padding-right: 50px;
  text-align: center;
}
