// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.showshop{
  //background-color: #efefef;
  //border: 1px solid #eeeeee;
  width: 640px;
}

.shopimage{
  padding: 10px;
  text-align: center;
  vertical-align: center;
  width: 300px;
  height: 300px;
}

#shopbreak{
  border-top: 1px dotted #efefef;
  padding: 10px;
}

.extendtitle{
  cursor: pointer;
}

.showimage{
  background-color: #ececec;
  width: 640px;
  height: 110px;
  text-align: center;
}

.imageitem{
  width: 105px;
  height: 90px;
  float: left;
  list-style-image: none;
  list-style: none;
  list-style-type: none;
}

.imageitem img{
  max-height: 100%;
  max-width: 100%;
  margin: 10px;
  margin-bottom: 0px;
  background-color: #ffffff;
  cursor: pointer; 
}

#addimage{
  float: right;
}

.showitemimage{
  width: 640px;
  height: 450px;
  text-align: center;
  
}
.clearall{
  clear: left;
  border-top: 1px dotted #efefef;
}




