// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userlist{
  padding: 10px;
}
.userlist table{
  border: 1px solid #ececec ;
}
.userlist td{
  border: 1px solid #ececec ;
  padding: 10px;
}
