<table>
	<th><label>Category</label></th>
	<th><label>Description</label></th>
	<% @categories.each do |category| %>
	<tr>
		<td><label><%= link_to category.name, shop_category_path(category) %></label></td>
		<td><label><%= category.description %></label></td>

	</tr>
	<% end %>
</table>
