<!-- BEGIN footer -->
<div id="footer">
	<p>
		Copyright &copy; 2009 - <a href="http://all-free-download.com/free-website-templates/">Website Name</a> &middot; All Rights Reserved
	</p>
	<p>
		Template by: <a href="http://www.wpthemedesigner.com/">WordPress Designer</a> | Get More <a href="http://all-free-download.com/free-website-templates/">Free CSS Templates</a>
	</p>
</div>
<!-- END footer -->
</div>
<!-- END wrapper -->
<div align=center>
	This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a>
</div>
