</div>
<!-- END content -->
<!-- BEGIN sidebar -->
<div id="sidebar">
	<!-- begin ads -->
	<div class="ads">
		<a href="http://all-free-download.com/free-website-templates/"><img src="images/ad125x125.jpg" alt="" /></a><a href="http://all-free-download.com/free-website-templates/"><img src="images/ad125x125.jpg" alt="" /></a><a href="http://all-free-download.com/free-website-templates/"><img src="images/ad125x125.jpg" alt="" /></a><a href="http://all-free-download.com/free-website-templates/"><img src="images/ad125x125.jpg" alt="" /></a>
	</div>
	<!-- end ads -->
	<!-- begin search -->
	<form class="search" action="http://all-free-download.com/free-website-templates/">
		<input type="text" name="s" id="s" />
		<button type="submit">
			Search
		</button>
	</form>
	<!-- end search -->
	<div class="wrapper">
		<!-- begin popular posts -->
		<h2>Popular Posts</h2>
		<ul>
			<li>
				<a href="http://all-free-download.com/free-website-templates/">Make Money Online Creating Websites</a>
			</li>
			<li>
				<a href="http://all-free-download.com/free-website-templates/">Top 100 Internet Marketing Tips</a>
			</li>
			<li>
				<a href="http://all-free-download.com/free-website-templates/">Tutorial: How to add Videos in your Post</a>
			</li>
			<li>
				<a href="http://all-free-download.com/free-website-templates/">Sample Post Unordered List</a>
			</li>
			<li>
				<a href="http://all-free-download.com/free-website-templates/">Sample Post Blockquote</a>
			</li>
		</ul>
		<!-- end popular posts -->
		<!-- begin flickr photos -->
		<h2>Flickr Photos</h2>
		<div class="flickr">
			<a href="http://all-free-download.com/free-website-templates/"><img src="images/_thumb3.jpg" alt="" /></a><a href="http://all-free-download.com/free-website-templates/"><img src="images/_thumb4.jpg" alt="" /></a><a href="http://all-free-download.com/free-website-templates/"><img src="images/_thumb5.jpg" alt="" /></a><a href="http://all-free-download.com/free-website-templates/"><img src="images/_thumb6.jpg" alt="" /></a><a href="http://all-free-download.com/free-website-templates/"><img src="images/_thumb7.jpg" alt="" /></a><a href="http://all-free-download.com/free-website-templates/"><img src="images/_thumb8.jpg" alt="" /></a>
		</div>
		<!-- end flickr photos -->
		<!-- begin featured video -->
		<h2>Featured Video</h2>
		<div class="video">
			<img src="images/_video.jpg" alt="" />
		</div>
		<!-- end featured video -->
		<!-- begin tags -->
		<h2>Tags</h2>
		<div class="tags"></div>
		<!-- end tags -->
		<!-- BEGIN left -->
		<div class="l sbar">
			<!-- begin categories -->
			<h2>Categories</h2>
			<ul>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Entertainment</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Fashion</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Internet</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Marketing</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Lifestyle</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Make Money</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Online</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Parenting</a>
				</li>
			</ul>
			<!-- end categories -->
			<!-- begin pages -->
			<h2>Pages</h2>
			<ul>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Home</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">About</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Archives</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Links</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Contact</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Sitemap</a>
				</li>
			</ul>
			<!-- end pages -->
		</div>
		<!-- END left -->
		<!-- BEGIN right -->
		<div class="r sbar">
			<!-- begin archives -->
			<h2>Archives</h2>
			<ul>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">August 2008</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">July 2008</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">June 2008</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">May 2008</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">April 2008</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">March 2008</a>
				</li>
			</ul>
			<!-- end archives -->
			<!-- begin blogroll -->
			<h2>Blogroll</h2>
			<ul>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Carlos</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Digital Point Forum</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Eric's Photo Gallery</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Fashion Trends</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Google Scoreboard</a>
				</li>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Marketing Forum</a>
				</li>
			</ul>
			<!-- end blogroll -->
			<!-- begin meta -->
			<h2>Meta</h2>
			<ul>
				<li>
					<a href="http://all-free-download.com/free-website-templates/">Login</a>
				</li>
			</ul>
			<!-- end meta -->
		</div>
		<!-- END right -->
	</div>
</div>
<!-- END sidebar -->
